// Default colors
$blue: #25395b;
$blue-darker: #192d4f;
$blue-lighter: #d2e3ff;
$blue-bright: #1967d2;

$yellow: #ffe400;

$purple: #3130a5;

$white: #ffffff;
$white-dark: #fbfbfb;
$white-darker: #eaebee;
$white-blue: #ecf2fc;

$black: #000000;
$black-light: #00000080;
$black-transparent: #00000030;

$red: #d51938;
$red-light: #e13e59;

$text-gray: #6a7c93;
$text-dark: #25395b;

$input-back: #efedf5;
